.instagram-slider {
  overflow:hidden;
}

.slider{
  display:flex;
  gap:10px;
  animation:scrollSlider 30s linear infinite;
}

.slider img{
  width:220px;
  border-radius:8px;
}

@keyframes scrollSlider{
  from{transform:translateX(0);}
  to{transform:translateX(-50%);}
}