<nav class="navbar navbar-expand-lg bg-white border-bottom">
  <div class="container">

    <!-- Logo -->
    <a class="navbar-brand" href="index.html">
      <img src="images/AYUSHI_logo.png" alt="Ayushi Singh Logo" style="height:40px;">
    </a>

    <!-- Mobile Toggle -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menu -->
    <div class="collapse navbar-collapse justify-content-end" id="mainNavbar">
      <ul class="navbar-nav gap-lg-3">
        <li class="nav-item">
          <a class="nav-link" href="projects.html">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="speaking.html">Speaking</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="books.html">Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="media.html">Awards & Media</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Contact</a>
        </li>
      </ul>
    </div>

  </div>
</nav>
